{% extends 'music/base.html' %}
{% block body_block %}
    <h3>Name: {{ singer_info.name }}</h3>
    <h3>Instrument: {{ singer_info.instrument }}</h3>
    <h3>Singer Rating: {{ singer_rating.rating__avg }}</h3>
    <br>
    <a href="{% url 'music:edit_singer' singer_id=singer_info.id %}" class="btn btn-info btn-md">Edit</a> <a href="{% url 'music:delete_singer' singer_id=singer_info.id %}"
        class="btn btn-danger btn-md" onclick="return confirm('Delete This Singer?')">Delete</a>
    <hr>
    <br>
    <h2>List of Album:</h2>
    <table class="table table-borderd" border="1">
        <tr>
            <th>Name</th>
            <th>Release Date</th>
            <th>Rating</th>
        </tr>
        {% for album in album_list %}
            <tr>
                <td><a href="{% url 'music:song_list' album_id=album.id %}">{{ album.name }}</a></td>
                <td>{{ album.release_date }}</td>
                <td>{{ album.rating }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
{% endblock %}