{% extends 'music/base.html' %}
{% block body_block %}
    <h3>Album Name: {{ album_info.name }}</h3>
    <h3>Singer Name: {{ album_info.singer }}</h3>
    <h3>Release Date: {{ album_info.release_date }}</h3>
    <h3>Rating: {{ album_info.rating }}</h3>
    <br>
    <a href="{% url 'music:edit_album' album_id=album_info.id %}" class="btn btn-info btn-md">Edit</a> <a href="{% url 'music:delete_album' album_id=album_info.id %}"
        class="btn btn-danger btn-md" onclick="return confirm('Delete This Album?')">Delete</a>
    <hr>
    {% if song_list %}
        <h2>List of song:</h2>
        <ol>
            {% for song in song_list %}
            <li>
                <h3><a href="{% url 'music:edit_song' song_id=song.id %}">{{ song.name }}</a></h3>
            </li>
            {% endfor %}
        </ol>
    {% else %}
        <h2>There is no Song.</h2>
    {% endif %}
{% endblock %}