{% extends 'music/base.html' %}
{% block body_block %}
    <h3>Album Name: {{ album_info.name }}</h3>
    <h3>Singer Name: {{ album_info.singer }}</h3>
    <h3>Release Date: {{ album_info.release_date }}</h3>
    <h3>Rating: {{ album_info.rating }}</h3>
    <a href="" class="btn btn-info btn-md">Update</a> <a href="" class="btn btn-danger btn-md">Delete</a>
    <hr>
    <br>
    <h2>List of song:</h2>
    <ol>
        {% for song in song_list %}
        <li>
            <h3><a href="#">{{ song.name }}</a></h3>
        </li>
        {% endfor %}
    </ol>
{% endblock %}